In [4]:
import pandas as pd

obesity_df = pd.read_csv('./dsa-airflow/data/obesity_rating.csv', header=0)
display(obesity_df.head(5))

   OBJECTID        NAME  Obesity   Shape__Area  Shape__Length
0         1       Texas     32.4  7.672329e+12   1.540832e+07
1         2  California     24.2  5.327809e+12   1.451870e+07
2         3    Kentucky     34.6  1.128830e+12   6.346699e+06
3         4     Georgia     30.7  1.652980e+12   5.795596e+06
4         5   Wisconsin     30.7  1.567816e+12   6.806782e+06